<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>ID:&nbsp;</span>
    <input type="text" id="id" />
    <span>PW:&nbsp;</span>
    <input type="password" id="pw" />
    <button type="button" onclick="login()">로그인</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function login(){
        axios({
            method: "get",
            url: "/demo-system/system/login?id="+document.getElementById("id").value+"&pw="+document.getElementById("pw").value,
            responseType: "json"
        }).then(function(response) {
            console.log(response);
        })
    }

</script>
</html>